@if(product) {
<mat-card appearance="raised" routerLink="/shop/{{product.id}}" class="h-full flex flex-col justify-between">
  <img mat-card-image [src]="product.pictureUrl" class="rounded-t-lg" [alt]="product.name">
  <mat-card-content class="mt-2">
    <h2 class="text-sm font-bold uppercase">{{product.name}}</h2>
    <p class="font-bold">{{product.price | currency}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button class="w-full">
      <mat-icon>add_shopping_cart</mat-icon>
      {{ 'product.addToCart' | translate }}
    </button>
  </mat-card-actions>

</mat-card>
}