@if(!isLoading){

<div class="flex flex-col gap-3">

  <!-- Filter Button -->
  <div class="flex justift-end">
    <button mat-stroked-button (click)="openFilterDialog()">
      <mat-icon>filter_list</mat-icon>
      {{ 'product.filters' | translate }}
    </button>

    <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
      <mat-icon>swap_vert</mat-icon>
      {{ 'product.sorting' | translate }}
    </button>
  </div>

  <!-- Product Grid -->
  <div class="grid grid-cols-5 gap-4">
    @for (product of products; track product.id; let i = $index) {
    <div class="product-card" [style.animation-delay]="(i * 120) + 'ms'">
      <app-product-item [product]="product"></app-product-item>
    </div>
    }
  </div>

</div>

<!-- Sort Menu -->
<mat-menu #sortMenu="matMenu">
  <mat-selection-list [multiple]="false" (selectionChange)="onSortChange()">
    @for (option of sortingOptions; track $index) {
    <mat-list-option [value]="option.value" [selected]="selectedSort === option.value">
      {{ option.name }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
}
@else {
<div class="flex justify-center items-center h-64">
  <mat-spinner></mat-spinner>
</div>
}