<div class="flex flex-col gap-3">

  <!-- Filter Button -->
  <div class="flex justify-between gap-2">

    <!-- Pagination -->
    <mat-paginator [length]="data?.totalCount || 0" [pageSize]="filters.maxResultCount || 10"
      [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [pageIndex]="data?.pageIndex"
      (page)="onPageChange($event)">
    </mat-paginator>

    <!-- Search -->
    <div class="relative w-full max-w-md">
      <input type="search" name="filterText" [(ngModel)]="filters.filterText"
        placeholder="{{ 'product.searchPlaceholder' | translate }}"
        class="block w-full p-3 pe-5 text-sm text-gray-900 border border-gray-300 rounded-lg"
        (keyup)="onSearchInput()" />
    </div>

    <!-- Filter and sorting buttons-->
    <div class="flex gap-3">
      <button mat-stroked-button (click)="openFilterDialog()">
        <mat-icon>filter_list</mat-icon>
        {{ 'product.filters' | translate }}
      </button>

      <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
        <mat-icon>swap_vert</mat-icon>
        {{ 'product.sorting' | translate }}
      </button>
    </div>

  </div>

  @if(!isLoading){
  <!-- Product Grid -->
  <div class="grid grid-cols-5 gap-4">
    @for (product of products; track product.id; let i = $index) {
    <div class="product-card" [style.animation-delay]="(i * 120) + 'ms'">
      <app-product-item [product]="product"></app-product-item>
    </div>
    }
  </div>
  }@else {
  <div class="flex justify-center items-center h-64">
    <mat-spinner></mat-spinner>
  </div>
  }

</div>

<!-- Sort Menu -->
<mat-menu #sortMenu="matMenu">
  <mat-selection-list [multiple]="false" (selectionChange)="onSortChange()">
    @for (option of sortingOptions; track $index) {
    <mat-list-option [value]="option.value" [selected]="selectedSort === option.value">
      {{ option.name | translate }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>